{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/user_list.css' %}" />
</head>
<body>
    
유저 리스트:
<div class="user-list-container">
    
    <div>
        {% if object_list.exists %}
        <div class="">
        <div>back</div>
        {% for u in object_list %}
            {% if u.profile.subject == "back" %}
                <div style="width:10%;">
                    <a href="http://skilnote-for-innotree.co.kr/skilnote1/myshortcut/{{u.username}}/1">
                        {{u.username}}
                    </a>
                </div>
            {% endif %}
        {% endfor %}
        </div>
        {% else %}
        <tr>
            <td colspan="4">
                <h4>아직 게시물이 없습니다.</h4>
            </td>
        </tr>
        {% endif %}        
    </div>

    <div>
        {% if object_list.exists %}
        <div class="">
        <div>front</div>
        {% for u in object_list %}
            {% if u.profile.subject == "front" %}
            <div style="width:10%;">
                <a href="http://skilnote-for-innotree.co.kr/skilnote1/myshortcut/{{u.username}}/1">
                    {{u.username}}
                </a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
        {% else %}
        <tr>
            <td colspan="4">
                <h4>아직 게시물이 없습니다.</h4>
            </td>
        </tr>
        {% endif %}        
    </div>
    <!-- <div>
        <div>app</div>
    </div>
    <div>
        <div>css</div>
    </div>
    <div>
        <div>tool</div>
    </div>
    <div>
        <div>deploy</div>
    </div>
    <div>
        <div>challenge</div>
    </div>
    <div>
        <div>skilnote</div>
    </div> -->
</div>

    
<script type="text/javascript">
{% block extra_js %}

{% endblock %}
</script>
    


</body>
</html>