.user_list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid pink;
    background-color: #E9F2FF;
}


.user-list-container {
    display: flex;
    width: 1200px;
    border: 1px solid pink;
}

.user-list-container div {
    flex: 1;
    /* border: 1px solid green;   */
    margin-bottom: 10px;  
}